napari[all]
matplotlib
git+https://github.com/quasar1357/dino_paint.git
git+https://github.com/guiwitz/napari-convpaint.git
--extra-index-url https://download.pytorch.org/whl/cu117
torch==2.0.1
torchvision==0.15.2

# xformers==0.0.18
# omegaconf
# torchmetrics==0.10.3
# fvcore
# iopath
# submitit

# --extra-index-url https://pypi.nvidia.com
# cuml-cu11
